:root {
    --preto: #000000;
    --cinza: #6C757D;
}

.mynavbar {
    background-color: var(--preto);
    color: var(--cinza);
}

.texto-menor {
    font-size: 13px;
}

.div-facilidade {
    width: 325px;
}

.texto-verde {
    color: #DAFF01 ;
}

.bg-lilas {
    background-color: #9353FF;
}

.bg-lilas::placeholder {
    background-color: #CCCCCC;
}

.img {
    width: 100%;
    height: auto;
}